services:
  db:
    image: mariadb:latest
    container_name: mhrs_db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # init.sql dosyanın otomatik çalışması için:
      - ./mhrs-projesi/init.sql:/docker-entrypoint-initdb.d/init.sql

  web:
    build: .
    container_name: mhrs_web
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  db_data: